.venv/
existing_solutions/
.env
complete_optimization_system/intermediate_results/
complete_optimization_system/results/
complete_optimization_system/complete_optimization_system
ref_fastapi/
backend/